#document table{
  width: 100%;
}
#document th{
  border: 1px solid #dee2e6;
  width: 50%;
  height: 50px;
  padding: 10px;
  background-color: #eeeeee47;
}
#document #title{
  width: 70%;
}
#document #content{
  width: 30%;
}
#document td{
  height: 60px;
  border: 1px solid #dee2e6;
  padding: 10px;
}
#document .btn-primary{
  // width: 80px;
}
#document .link{
  text-align: center;
}
#document i{
  // color: #FFF;
}
